@import url('http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');


/*estrutura HTML*/

html, body{
	font-family: 'Rubik', sans-serif;
	}

h1{ font-size:32px;}
h2{ font-size:20px;}
h3{ font-size:28px;}
h4{ font-size:26px;}
h5{ font-size:24px;}
h6{ font-size:22px;}
	



/*diagramação e regras úteis*/

.container{
	margin:0 auto;
	width:1200px;}

.mtop{margin-top:60px;}
.mleft{margin-left:20px;}
.btn{ display:inline-block;
	padding:5px 10px;
	background:#fff; 
	color:#fff;
	text-decoration:none;
	
}
.btn:hover{
	background:#2ecc40;
	color:#FFF;
	}
.fleft{ float:left;}
.fright{float:right;}
.clearb{ clear:both;}

.w23{width:23%;}
.w20{width:20%;}
.w80{width:80%;}
.w40{width:40%;}
.w60{width:60%;}
.w25{width:25%;}
.w32{width:32%;}
.w33{width:33%;}
.w35{width:35%;}
.w50{width:50%;}
.w30{width:30%;}
.w70{width:70%;}




/*elementos de layout*/
/*logotipo*/

h1#logotipo{
	border: 1px solid red;
	
	}

h1#logotipo a{
	background:url(../imagens/l1.jpg) center center no-repeat;
	background-size:100% 100%; /*redimensionar*/
	border: 0px solid #000;
	display:block;
	width:100px;
	margin-left:20px;
	height:40px;
		
	}

h1#logotipo a span{
	border: 1px solid blue;
	display:none;}
	
/*menu*/
		ul.menu{
			list-style:none;
			 /*border:1px solid blue;*/
		 	 padding:0; 
		 	 width:100%; }
		                                           
		ul.menu li{
			/*border:1px solid yellow;*/
		 	margin:5px;
		 	 display:inline-block; }
		
		ul.menu.menu-horizontal li{
			/*border:1px solid yellow;*/ 
			margin:0px; 
			display:block; }
		
	 	ul.menu li a{
			color:red;
			 text-decoration:none; 
			 display:block; 
			 padding:5px; } 
			 
/*menu drop*/
.drop{
    list-style: none;
    cursor: pointer;
    
}
.drop li{
position:relative; 
float:left; 
border: 1px solid;
border-color: #96c8da;
width: 165px;

}
.drop li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
 
.drop li a:hover{
background:rgba(0,0,0,.05)!important; 
-moz-box-shadow:0 3px 10px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 
text-shadow:0px 0px 5px #fff; 
color: rgba(0,0,0,.95)!important;

}
.drop li a i{
    float: left;
    margin-right: 10px;
}
.drop li  ul{
position:absolute; 
top:27px; 
left: auto;
right: 0;
background-color:#fff; 
display:none;

}  
.drop li:hover ul, .drop li.over ul{display:block;}
.drop li ul li{
display:block; 
width:165px;
}
.w16{width: 16%;}

/*responsividade*/


@media screen and (max-width:1024px){
	.container{width:100%;}
	.container1{width:100%;}
	.container2{width:100%;}
	.cell{margin:0px;}
	#content-page main #section2 article{
	padding:50px;}
	
	}
	
@media screen and (max-width:600px){
	.container{width:100%;}
	.container1{width:100%;}
	.container2{width:100%;}
	.cell{margin:0px;}
	#content-page main #section2 article{
	padding:0px;}
	}
	
@media screen and (max-width:480px){
	.container{width:100%;}
	.container1{width:100%;}
	.container2{width:100%;}
	.w20{width:100%;}
	.w23{width:100%;}
	.w80{width:80%;}
	.w40{width:100%;}
	.w60{width:100%;}
	.w25{width:100%;}
	.w33{width:100%;}
	.w35{width:100%;}
	.w50{width:100%;}
	.w30{width:30%;}
	.w32{width:100%;}
}


/*responsivo ate 412 de largura */





